.about-main-container {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 3rem 0;
}

.intro-heading {
  font-size: 3rem;
  word-spacing: 0.8rem;
}

.sub-heading {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-skip: edges;
  text-decoration-style: double;
  text-decoration-color: purple;
}

.offer-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.header-text {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  font-size: 18px;
  font-weight: 200;
}

.btn-movies {
  text-decoration: none;
  margin: 0 auto;
  padding: 1.2rem 2.5rem;
  background-color: black;
  color: white;
  border: 2px solid purple;
  border-radius: 12px;
  font-size: 20px;
  letter-spacing: 1px;
}

@media (max-width: 481px) {
  .offer-container {
    flex-direction: column;
  }
  .intro-heading {
    font-size: 2.5rem;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .sub-heading {
    font-size: 2rem;
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 482px) and (max-width: 880px) {
  .description {
    margin-right: 2rem;
    max-width: 70%;
    padding-left: 2rem;
  }
}
