.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}

.error-message {
  margin-top: 3rem;
  font-size: 60px;
  color: purple;
  text-align: center;
  margin-bottom: 2rem;
}
.description-container {
  font-size: 30px;
  font-weight: 600;
}

.btn-save-me {
  border: 1px dashed purple;
  margin-top: 2rem;
  margin: 2rem auto 0;
  padding: 0.9rem;
  background-color: white;
  color: purple;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.btn-save-me:hover {
  background-color: white;
  border: 2px solid purple;
  font-weight: 800;
  color: black;
}

@media screen and (max-width: 550px) {
  .error-message {
    font-size: 30px;
  }
  .description-container {
    font-size: 20px;
    padding: 0 2rem;
  }
  .error-description {
    font-size: 18px;
    max-width: 400px;
    line-height: 2;
  }
}
