.Login-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.form-container {
  background-color: white;
  border: 1px solid purple;
  width: 30%;
  padding: 1.5rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
}

.form-container h1 {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
input[type="text"],
input[type="email"] {
  width: 90%;
  padding: 15px;
  margin: 20px 0 22px 0;
  border-radius: 1rem;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  margin-top: 1rem;
}

.btn-submit {
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 25px;
  background-color: black;
  color: white;
  border: 2px solid purple;
  border-radius: 12px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn-submit:hover {
  color: purple;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-error {
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 2px solid purple;
  border-radius: 12px;
  font-size: 10px;
  letter-spacing: 1px;
}

.btn-error:hover {
  background-color: white;
  border: 2px dashed purple;
  color: purple;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.register-link {
  text-decoration-color: red;
  text-align: center;
  margin-top: 1rem;
  color: purple;
}
.register-link:hover {
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .form-container {
    width: 70%;
  }
}
@media screen and (max-width: 380px) {
  .form-container {
    width: 50%;
  }
  .form-container h1 {
    font-size: 1.8rem;
  }
  input[type="text"],
  input[type="password"] {
    width: 80%;
  }
  .btn-submit {
    padding: 8px 20px;
    font-size: 14px;
  }
  .btn-submit:hover {
    font-size: 1rem;
    font-weight: 500;
  }
}
