.register-container {
  background-color: black;
  width: 80%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.register-heading {
  color: purple;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 35px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.register-form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.register-form-container > input {
  border-radius: 20px;
}

::placeholder {
  color: purple;
}

.btn-form-submit {
  cursor: pointer;
  color: purple;
  border: 2px solid purple;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 12px;
  margin-top: 2rem;
  width: 50%;
  font-weight: 600;
}

.btn-form-submit:hover {
  background-color: white;
  color: purple;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #efc006;
  font-weight: 800;
}

@media screen and (max-width: 900px) {
  .register-container {
    max-width: 70%;
  }
}
@media screen and (max-width: 380px) {
  .register-container {
    max-width: 90%;
  }
  .register-heading {
    font-size: 25px;
  }
  .btn-form-submit {
    font-size: 15px;
    width: 70%;
  }
}

@media screen and (min-width: 807px) {
  .btn-form-submit {
    font-size: 30px;
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .register-heading {
    font-size: 60px;
  }
}
