@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  width: 100%;
}
.App {
  width: 100%;
  background-color: black;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
